<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    </head>

    <body>
        <h1>Instrument Categories</h1>
        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/categories/<%= category.id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        <a href="/">Home</a>
    </body>

</html>