<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <form action="/categories/new" method="post">
            <h1>Add New Instrument Category</h1>
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <br><br>
            <button type="submit">Add Category</button>
        </form>

    </body>

</html>